<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="color:red">Am I under payed?</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Am I Underpaid?</h1>
<h2>Describe your expected job below:</h2>

<!--<form method="post" class="inputs">-->
<div class="inputs">
    <div class="drop-down-list">
        <label>Sponsored?</label>
        <select name="sponsored_or_not">
            <option value=1>Yes</option>
            <option value=0>No</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>In US?</label>
        <select name="in_US_or_not">
            <option value=1>Yes</option>
            <option value=0>No</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>Company Size</label>
        <select name="company_size">
            <option value="1-50">1-50</option>
            <option value="51-200">51-200</option>
            <option value="201-500">201-500</option>
            <option value="501-1000">501-1000</option>
            <option value="1001-5000">1001-5000</option>
            <option value="5001-10000">5001-10000</option>
            <option value="10000--1">10000+</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>Company Industry</label>
        <select name="company_industry">
            <option value="Accounting">Accounting</option>
            <option value="Advertising & Marketing">Advertising & Marketing</option>
            <option value="Aerospace & Defense">Aerospace & Defense</option>
            <option value="Airlines">Airlines</option>
            <option value="Architectural & Engineering Services">Architectural & Engineering Services</option>
            <option value="Auctions & Galleries">Auctions & Galleries</option>
            <option value="Banks & Credit Unions">Banks & Credit Unions</option>
            <option value="Beauty & Personal Accessories Stores">Beauty & Personal Accessories Stores</option>
            <option value="Biotech & Pharmaceuticals">Biotech & Pharmaceuticals</option>
            <option value="Brokerage Services">Brokerage Services</option>
            <option value="Bus Transportation Services">Bus Transportation Services</option>
            <option value="Cable, Internet & Telephone Providers">Cable, Internet & Telephone Providers</option>
            <option value="Car Rental">Car Rental</option>
            <option value="Casual Restaurants">Casual Restaurants</option>
            <option value="Catering & Food Service Contractors">Catering & Food Service Contractors</option>
            <option value="Charter Air Travel">Charter Air Travel</option>
            <option value="Chemical Manufacturing">Chemical Manufacturing</option>
            <option value="Colleges & Universities">Colleges & Universities</option>
            <option value="Commercial Equipment Rental">Commercial Equipment Rental</option>
            <option value="Commercial Equipment Repair & Maintenance">Commercial Equipment Repair & Maintenance</option>
            <option value="Computer Hardware & Software">Computer Hardware & Software</option>
            <option value="Construction">Construction</option>
            <option value="Consulting">Consulting</option>
            <option value="Consumer Electronics & Appliances Stores">Consumer Electronics & Appliances Stores</option>
            <option value="Consumer Product Rental">Consumer Product Rental</option>
            <option value="Consumer Products Manufacturing">Consumer Products Manufacturing</option>
            <option value="Department, Clothing, & Shoe Stores">Department, Clothing, & Shoe Stores</option>
            <option value="Drug & Health Stores">Drug & Health Stores</option>
            <option value="Education Training Services">Education Training Services</option>
            <option value="Electrical & Electronic Manufacturing">Electrical & Electronic Manufacturing</option>
            <option value="Energy">Energy</option>
            <option value="Enterprise Software & Network Solutions">Enterprise Software & Network Solutions</option>
            <option value="Express Delivery Services">Express Delivery Services</option>
            <option value="Farm Support Services">Farm Support Services</option>
            <option value="Fast-Food & Quick-Service Restaurants">Fast-Food & Quick-Service Restaurants</option>
            <option value="Federal Agencies">Federal Agencies</option>
            <option value="Financial Analytics & Research">Financial Analytics & Research</option>
            <option value="Financial Transaction Processing">Financial Transaction Processing</option>
            <option value="Food & Beverage Manufacturing">Food & Beverage Manufacturing</option>
            <option value="Food Production">Food Production</option>
            <option value="Gambling">Gambling</option>
            <option value="General Merchandise & Superstores">General Merchandise & Superstores</option>
            <option value="General Repair & Maintenance">General Repair & Maintenance</option>
            <option value="Gift, Novelty & Souvenir Stores">Gift, Novelty & Souvenir Stores</option>
            <option value="Grantmaking Foundations">Grantmaking Foundations</option>
            <option value="Grocery Stores & Supermarkets">Grocery Stores & Supermarkets</option>
            <option value="Health Care Products Manufacturing">Health Care Products Manufacturing</option>
            <option value="Health Care Services & Hospitals">Health Care Services & Hospitals</option>
            <option value="Health Fundraising Organizations">Health Fundraising Organizations</option>
            <option value="Health, Beauty, & Fitness">Health, Beauty, & Fitness</option>
            <option value="Home Furniture & Housewares Stores">Home Furniture & Housewares Stores</option>
            <option value="Hotels, Motels, & Resorts">Hotels, Motels, & Resorts</option>
            <option value="IT Services">IT Services</option>
            <option value="Industrial Manufacturing">Industrial Manufacturing</option>
            <option value="Insurance Agencies & Brokerages">Insurance Agencies & Brokerages</option>
            <option value="Insurance Carriers">Insurance Carriers</option>
            <option value="Internet">Internet</option>
            <option value="Investment Banking & Asset Management">Investment Banking & Asset Management</option>
            <option value="Legal">Legal</option>
            <option value="Lending">Lending</option>
            <option value="Logistics & Supply Chain">Logistics & Supply Chain</option>
            <option value="Media & Entertainment Retail Stores">Media & Entertainment Retail Stores</option>
            <option value="Membership Organizations">Membership Organizations</option>
            <option value="Metal & Mineral Manufacturing">Metal & Mineral Manufacturing</option>
            <option value="Mining">Mining</option>
            <option value="Miscellaneous Manufacturing">Miscellaneous Manufacturing</option>
            <option value="Motion Picture Production & Distribution">Motion Picture Production & Distribution</option>
            <option value="Museums, Zoos & Amusement Parks">Museums, Zoos & Amusement Parks</option>
            <option value="Music Production & Distribution">Music Production & Distribution</option>
            <option value="News Outlet">News Outlet</option>
            <option value="Office Supply Stores">Office Supply Stores</option>
            <option value="Oil & Gas Exploration & Production">Oil & Gas Exploration & Production</option>
            <option value="Oil & Gas Services">Oil & Gas Services</option>
            <option value="Other Retail Stores">Other Retail Stores</option>
            <option value="Publishing">Publishing</option>
            <option value="Radio">Radio</option>
            <option value="Rail">Rail</option>
            <option value="Real Estate">Real Estate</option>
            <option value="Religious Organizations">Religious Organizations</option>
            <option value="Research & Development">Research & Development</option>
            <option value="Security Services">Security Services</option>
            <option value="Shipping">Shipping</option>
            <option value="Social Assistance">Social Assistance</option>
            <option value="Sporting Goods Stores">Sporting Goods Stores</option>
            <option value="Sports & Recreation">Sports & Recreation</option>
            <option value="Staffing & Outsourcing">Staffing & Outsourcing</option>
            <option value="Stock Exchanges">Stock Exchanges</option>
            <option value="TV Broadcast & Cable Networks">TV Broadcast & Cable Networks</option>
            <option value="Telecommunications Manufacturing">Telecommunications Manufacturing</option>
            <option value="Telecommunications Services">Telecommunications Services</option>
            <option value="Transportation Equipment Manufacturing">Transportation Equipment Manufacturing</option>
            <option value="Transportation Management">Transportation Management</option>
            <option value="Travel Agencies">Travel Agencies</option>
            <option value="Upscale Restaurants">Upscale Restaurants</option>
            <option value="Utilities">Utilities</option>
            <option value="Vehicle Dealers">Vehicle Dealers</option>
            <option value="Venture Capital & Private Equity">Venture Capital & Private Equity</option>
            <option value="Veterinary Services">Veterinary Services</option>
            <option value="Video Games">Video Games</option>
            <option value="Wholesale">Wholesale</option>

        </select>
    </div>
    <div class="drop-down-list">
        <label>Company Type</label>
        <select name="company_type">
            <option value="Private">Private</option>
            <option value="Public">Public</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>Employee benefits</label>
        <select name="employee_benefits">
            <option value="Annual Leave">Annual Leave</option>
            <option value="Bereavement Leave">Bereavement Leave</option>
            <option value="Bike to Work Scheme">Bike to Work Scheme</option>
            <option value="Childcare Vouchers">Childcare Vouchers</option>
            <option value="Critical Illness Cover">Critical Illness Cover</option>
            <option value="Death in Service">Death in Service</option>
            <option value="Employee Discount">Employee Discount</option>
            <option value="Flexible Working">Flexible Working</option>
            <option value="Free Lunch or Snacks">Free Lunch or Snacks</option>
            <option value="Gym Membership">Gym Membership</option>
            <option value="Health Cash Plan">Health Cash Plan</option>
            <option value="Health Insurance">Health Insurance</option>
            <option value="Income Protection">Income Protection</option>
            <option value="Job Training">Job Training</option>
            <option value="Life Insurance">Life Insurance</option>
            <option value="Maternity & Paternity Leave">Maternity & Paternity Leave</option>
            <option value="Pension Plan">Pension Plan</option>
            <option value="Performance Bonus">Performance Bonus</option>
            <option value="Professional Development">Professional Development</option>
            <option value="Share Incentive Plan">Share Incentive Plan</option>
            <option value="Sick Pay">Sick Pay</option>
            <option value="Stock Options">Stock Options</option>
            <option value="Unpaid Extended Leave">Unpaid Extended Leave</option>
            <option value="Work From Home">Work From Home</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>Employee Rating on company benefits</label>
        <select name="employee_rating_benefits">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>CEO Approval Rating</label>
        <select name="ceo_approval_rating">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>Recommend to Friend Rating</label>
        <select name="recommend_to_friend_rating">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>Company Overall Rating</label>
        <select name="company_overall_rating">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>Job Level</label>
        <select name="job_level">
            <option value=1>Entry Level</option>
            <option value=2>Intermediate Level</option>
            <option value=3>Senior Level</option>
            <option value=4>Staff Senior Level</option>
            <option value=5>Principal/Director/Lead, or higher</option>
        </select>
    </div>
    <div class="drop-down-list">
        <label>Job Category</label>
        <select name="job_category">
            <option value="Development">Software Engineer</option>
            <option value="Development">Software Developer</option>
            <option value="Development">Software Dev Engineer</option>
            <option value="Development">Applications Engineer</option>
            <option value="Development">Applications Developer</option>
            <option value="Development">IT Software Engineer</option>
            <option value="Solution">Solution Architect</option>
            <option value="Solution">Solution Consultant</option>
            <option value="Solution">Solution Development Representative</option>
            <option value="Solution">Solutions Architect</option>
            <option value="Solution">Solutions Designer</option>
            <option value="Support">Technical Support Engineer</option>
            <option value="Support">Applications Support Analyst</option>
            <option value="Support">Field Support Engineer</option>
            <option value="Support">IT Support Analyst</option>
            <option value="Support">Software Support Engineer</option>
            <option value="Support">Systems Support Engineer</option>
            <option value="System">Systems Engineer</option>
            <option value="System">IT Systems Engineer</option>
            <option value="System">MainFrame Systems Programmer</option>
            <option value="System">Systems Safety Engineer</option>
            <option value="System">Systems Architect</option>
            <option value="Test">Test Engineer</option>
            <option value="Test">Software Development Engineer in Test</option>
            <option value="Test">Test Automation Engineer</option>
            <option value="Test">QA/Test Engineer</option>
            <option value="Test">Software Systems Test Engineer</option>
            <option value="Test">Software Quality Assurance Tester</option>
            <option value="Other">associate director - it</option>
        </select>
    </div>

    <div class="text-input">
        <label>Reviews Pro</label>
        <input type="textArea" name="reviews_pro">
    </div>

    <div class="text-input">
        <label>Reviews Con</label>
        <input type="textArea" name="reviews_con">
    </div>

    <div class="text-input">
        <label>Job Description</label>
        <input type="textArea" name="job_description">
    </div>

    <div class="div-buttons">
        <button type="submit" class="btn color-1" id="submit-btn">Predict my salary!</button>
        <button type="button" class="btn color-2" onclick="location.reload()">Try again</button>
    </div>

</div>

<h2 class="warning-message"></h2>
<h2 class="salary-result"></h2>

<!--</form>-->

<script>
        $("#submit-btn").click(function() {
            // Collect the input values
            const sponsored_or_not = $("select[name='sponsored_or_not']").val();
            const in_US_or_not = $("select[name='in_US_or_not']").val();
            const company_size = $("select[name='company_size']").val();
            const company_industry = $("select[name='company_industry']").val();
            const company_type = $("select[name='company_type']").val();
            const employee_benefits = $("select[name='employee_benefits']").val();
            const employee_rating_benefits = $("select[name='employee_rating_benefits']").val();
            const ceo_approval_rating = $("select[name='ceo_approval_rating']").val();
            const recommend_to_friend_rating = $("select[name='recommend_to_friend_rating']").val();
            const company_overall_rating = $("select[name='company_overall_rating']").val();
            const job_level = $("select[name='job_level']").val();
            const job_category = $("select[name='job_category']").val();
            const reviews_pro = $("input[name='reviews_pro']").val();
            const reviews_con = $("input[name='reviews_con']").val();
            const job_description = $("input[name='job_description']").val();

            if (reviews_pro == '' || reviews_pro == null || reviews_pro.length == 0) {
                $(".salary-result").hide();
                $(".warning-message").text("Please input Reviews Pro!");
                $(".warning-message").show();
            } else if (reviews_con == '' || reviews_con == null || reviews_con.length == 0) {
                $(".salary-result").hide();
                $(".warning-message").text("Please input Reviews Con!");
                $(".warning-message").show();
            } else if (job_description == '' || job_description == null || job_description.length == 0) {
                $(".salary-result").hide();
                $(".warning-message").text("Please input Job Description!");
                $(".warning-message").show();
            } else {
                $.ajax({
                    url: "/submit_form",
                    type: "POST",
                    data: JSON.stringify({
                        sponsored_or_not: sponsored_or_not,
                        in_US_or_not: in_US_or_not,
                        company_size: company_size,
                        company_industry: company_industry,
                        company_type: company_type,
                        employee_benefits: employee_benefits,
                        employee_rating_benefits: employee_rating_benefits,
                        ceo_approval_rating: ceo_approval_rating,
                        recommend_to_friend_rating: recommend_to_friend_rating,
                        company_overall_rating: company_overall_rating,
                        job_level: job_level,
                        job_category: job_category,
                        reviews_pro: reviews_pro,
                        reviews_con: reviews_con,
                        job_description: job_description
                    }),
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function(response) {
                        // Display the result from the server
                        if (response.result) {
                            $(".warning-message").hide();
                            $(".salary-result").text("The Predicted Annual Salary will be around: $" + response.result);
                            $(".salary-result").show();
                        }
                    },
                    error: function() {
                        alert("Error submitting the form");
                    }
                });
            }

            // Send an AJAX request to the server

        });
</script>

</body>
</html>
